{% extends "layout.html" %}

{% block body %}
<style>
	th { background-color: #7F7F7F ; color: #FFFFFF; text-transform: uppercase;}
</style>
<section class="content">
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<th>Code</th><th>Nom site</th><th>Region</th><th>Departement</th><th>Responsable</th><th>telephone</th>
			{% if liste_sites %}
				{% for site in liste_sites %}
				<tr><td>{{site.code}}</td><td>{{site.nom}}</td><td>{{site.region}}</td><td>{{site.departement}}</td><td>{{site.pers_resp}}</td><td>{{site.tel}}</td></tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</section>
{% endblock body %}

