{% extends "layout.html" %}

{% block body %}
<section class="content">
	<h4 class="text-center">{{ page_title }}</h4>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<th>Nom</th><th>Prenom</th><th>Poste</th><th>Email</th><th>Telephone</th><th>Bureau Affecte</th><th>Actions</th>
			{% if liste_employes %}
				{% for employe in liste_employes.items %}
				<tr>
					<td>{{employe.nom}}</td><td>{{employe.prenom}}</td><td>{{employe.nom_poste}}</td><td>{{employe.email}}</td><td>{{employe.tel_travail}}</td><td>{{employe.bureau_affecte}}</td>
					<td>
						<a href="#" class="btn btn-info btn-sm"><span class="fa fa-eye" title="Voir"></span></a>
						{% if current_user.auth_level > 1 %}
						<a href="#" class="btn btn-warning btn-sm"><span class="fa fa-pencil" title="Modifier"></span></a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</section>
<!-- Pagination section -->
{% from "_paginationhelpers.html" import render_pagination %}
<div>
	{{render_pagination(liste_employes,'list_employes')}}
</div>
{% endblock body %}

