{% extends "layout.html" %}

{% block body %}
<style>
	.up { background-color: ; color: #008000; }
	.down { background-color: #FFFFFF; color: #FF0000 }
	.togle-case { text-transform: capitalize;}
</style>
<section class="content">
	<h4 class="text-center">{{ page_title }}</h4>
	<div class="table-responsive">
		<table class="table table-hovered">
			<th>Evenement</th><th>Site</th><th>FAI</th><th>Departement</th><th>Region</th><th>Date Evenement</th>
			{% if pagination %}
				{% for event in pagination.items %}
					<tr class="{{event.status_ev}} togle-case"><td>{{ event.entite_concerne }} {{ event.status_ev }}</td><td>{{ event.nom }}</td><td>{{ event.fai }}</td><td>{{ event.departement }}</td><td>{{ event.region }}</td><td>{{ event.date_ev }}</td></tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</section>


<!-- Pagination section -->
{% from "_paginationhelpers.html" import render_pagination %}
<div>
	{{render_pagination(pagination,'list_events')}}
</div>
{% endblock body %}

