{% extends "layout.html" %}

{% block body %}
<style>
	.login{
		max-width: 500px;
		margin: auto;
		padding: 20px;
		/*border: solid 1px blue;*/
		}
</style>
<div class="login">
	<form method="POST">
	  <div class="form-group">
		<label for="pseudo">Pseudo</label>
		<input type="text" name="pseudo" class="form-control" id="pseudo" aria-describedby="pseudoHelp" placeholder="Nom utilisateur ou email" required >
		{% if errUSR %}
		<small id="pseudoHelp" class="form-text alert-danger">{{ errUSR }}</small>
		{% else %}
		<small id="pseudoHelp" class="form-text text-muted">Veuillez entrer votre pseudo.</small>
		{% endif %}
	  </div>
	  <div class="form-group">
		<label for="pseudo">Mot de passe</label>
		<input type="password" name="passwd" class="form-control" id="passwd" aria-describedby="passwdHelp" placeholder="Mot de passe" >
		{% if errPWD %}
		<small id="passwdHelp" class="form-text alert-danger">{{ errPWD }}</small>
		{% else %}
		<small id="passwdHelp" class="form-text text-muted">Veuillez entrer le mot de passe.</small>
		{% endif %}
	  </div>
	  <button type="submit" name="mysubmit" value="mysubmit" class="btn btn-primary btn-block">Connexion</button>
		<p class="text-center mt-3"><a href="{{url_for('subscribe')}}">Je m'inscris !</a></p>
	</form>
</div>
{% endblock body %}

